{% extends 'base.html.twig' %}

{% block title %} Semana Informática {% endblock %}

{% block header %}
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <img src="{{ asset('img/cabecera.jpg') }}" class="img-fluid" alt="Logo principal">
                <span class="col-4">Hoy es: {{ "now" | date("d/m/Y") }}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block nav %}

    <div class="container">
        <div class="row">
            <nav class="nav nav-pills flex-sm-row mx-auto" role="navigation" style='margin: 16px'>
            {% if is_granted('ROLE_USER') %}
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('inicio') }}">Inicio</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('listar_ponencias') }}">Ponencias</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('listar_talleres') }}">Talleres</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('nueva_ponencia') }}">Ponencia++</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('nuevo_taller') }}">Taller++</a>
                    <li class="nav-item dropdown">
                            <a class="flex-sm-fill text-sm-center nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuarios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('nuevo_usuario') }}">Nuevo Usuario</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('listar_usuarios') }}">Editar Usuario</a>
                            </div>
                        </li>
                    {% endif %}
                    <a class="flex-sm-fill text-sm-center nav-link" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i> Salir</a>
                {% else %}
                    <a class="flex-sm-fill text-sm-center nav-link active" href="#">Acceder</a>
                {% endif %}
            </nav>
        </div>
    </div>

{% endblock %}

{% block footer %}

    <footer class="page-footer font-small blue pt-4">
        <div class="footer-copyright text-center py-3">- DWES 2019/2020 -
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('logout') }}">[ Salir ]</a>
            {% endif %}
        </div>
    </footer>
    
    
{% endblock %}